<p><a href="#"><%=image_tag ("blog_icon.png"), :style => "border:0" %></a></p>
                    
                    <dd class="input_left-pannel">
                        <select name="Topics" class="topics_input">
                      <option value="#">TOPICS</option>
                      <option value="#">TOPICS 2</option>
                      <option value="#">TOPICS 3</option>
                      <option value="#">TOPICS 4</option>
                      <option value="#">TOPICS 5</option>
                    </select>
                </dd>
                    
                    <dd class="input_left-pannel">
                        <select name="Topics" class="topics_input">
                      <option value="#">DESIGNERS</option>
                      <option value="#">DESIGNERS 2</option>
                      <option value="#">DESIGNERS 3</option>
                      <option value="#">DESIGNERS 4</option>
                      <option value="#">DESIGNERS 5</option>
                    </select>
                    </dd>
                    
                <dd class="input_left-pannel">
                        <select name="Topics" class="topics_input">
                      <option value="#">STYLISTS</option>
                      <option value="#">STYLISTS 2</option>
                      <option value="#">STYLISTS 3</option>
                      <option value="#">STYLISTS 4</option>
                      <option value="#">STYLISTS 5</option>
                    </select>
                </dd>
                    
                     <dd class="input_left-pannel">
                        <select name="Topics" class="topics_input">
                      <option value="#">EVENTS</option>
                      <option value="#">EVENTS 2</option>
                      <option value="#">EVENTS 3</option>
                      <option value="#">EVENTS 4</option>
                      <option value="#">EVENTS 5</option>
                    </select>
                    </dd>
                    
                     <dd class="input_left-pannel">
                        <select name="Topics" class="topics_input">
                      <option value="#">CELEBRITIES</option>
                      <option value="#">CELEBRITIES 2</option>
                      <option value="#">CELEBRITIES 3</option>
                      <option value="#">CELEBRITIES 4</option>
                      <option value="#">CELEBRITIES 5</option>
                    </select>
                    </dd>
                    
                     <dd class="input_left-pannel">
                        <select name="Topics" class="topics_input">
                      <option value="#">VIDEOS</option>
                      <option value="#">VIDEOS 2</option>
                      <option value="#">VIDEOS 3</option>
                      <option value="#">VIDEOS 4</option>
                      <option value="#">VIDEOS 5</option>
                    </select>
                    </dd>
                    
                <dd class="input_left-pannel">
                        <select name="Topics" class="topics_input">
                      <option value="#">ARCHIVE</option>
                      <option value="#">ARCHIVE 2</option>
                      <option value="#">ARCHIVE 3</option>
                      <option value="#">ARCHIVE 4</option>
                      <option value="#">ARCHIVE 5</option>
                    </select>
                </dd>
                    
                    
                    <dl class="search_box_part">
                    <div class="search_box">
                    <input name="" type="text" class="blog_search" placeholder="search " />
                    	<dd class="blog_search_btn">
                    	  <%=image_tag "search_btn.png", :style=>"border:0", :name=>"search button" %>
                    	</dd>
                    </div>
                    </dl>
                    
                    <dl class="blog_twiter_pannel">
                    	<dd class="blog_twt_hd">@DMarieGroup </dd>
                        <dd class="blog_twiter_bg">
                        	<div class="blog_twt_hd_txt">Twitter</div>
                        	<div class="blog_twt_wht_bg">D'MARIE</div>
                          <div>Wed Jan 15 2012 16:18:13 GMT. 08:00</div>
                            
                            <div class="blog_twt_wht_bg">D'MARIE</div>
                            <div>Wed Jan 15 2012 16:18:13 GMT. 08:00</div>
                            
                            <div class="blog_twt_wht_bg">D'MARIE</div>
                            <div>Wed Jan 15 2012 16:18:13 GMT. 08:00</div>
                            
                            <div class="blog_twt_wht_bg">D'MARIE</div>
                            <div>Wed Jan 15 2012 16:18:13 GMT. 08:00</div>
                        </dd>
                        
                  </dl>
                    
                    <div class="blog_img1">
                      <%=image_tag "left_img1.png", :style => "border:0" %>
                    </div>
                    <div class="blog_img2">
                      <%=image_tag "left_img2.png", :style => "border:0" %>
                    </div>
